/* SecretForm.css */
.secret-form {
    max-width: 600px;
    padding: 20px;
    color: #63798a;
    font-weight: bold;
}

.secret-form .MuiFormControl-root {
    margin: 20px 0;
}

.header-title {
    font-size: 20px;
    font-weight: 800;
}

.secret-form .MuiFormLabel-root {
    font-size: 16px;
    font-weight: 900;
}